<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <!-- 配置不过滤的资源（静态资源） -->
    <http pattern="/js/*.js" security="none"/>
    <http pattern="/js/*/*.js" security="none"/>
    <http pattern="/js/*/*/*.js" security="none"/>
    <http pattern="/js/*/*/*/*.*" security="none"/>
    <http pattern="/skin/*/css/*.css" security="none"/>
    <http pattern="/skin/*/css/*/*.css" security="none"/>
    <http pattern="/skin/*/css/*/*/*.css" security="none"/>
    <http pattern="/skin/*/images/*.*" security="none"/>
    <http pattern="/skin/*/images/*/*.*" security="none"/>

    <http pattern="/webservice*" security="none"/>
    <http pattern="/webservice/*" security="none"/>
    <http pattern="/commontools/*.jsp" security="none"/>
    <http pattern="/topoImgs/*.png" security="none"/>
    <http pattern="/event/send" security="none"/>

    <http pattern="/download/*/*.*" security="none"/>
    <!-- 开放客户端登录的HTTP接口 -->
    <!--<http pattern="/clientUser/clientUserLogin" security="none"/>-->
    <http pattern="/clientUser/clientUserLogout" security="none"/>
    <http pattern="/clientUser/changePassword" security="none"/>
    <http pattern="/usbKey/checkUsbkeyAvailableByNum" security="none"/>

    <!-- 开放resource -->
    <http pattern="/resource/policy/*/*.json" security="none"/>
    <http pattern="/resource/*" security="none"/>
    <http pattern="/resource/*/*" security="none"/>
    <http pattern="/resource/*/*/*" security="none"/>

    <!-- 开放客户端下载请求 -->
    <http pattern="/download" security="none"/>
    <http pattern="/usr" security="none"/>
    <http pattern="/downloadFingerprintPlugins" security="none"/>

    <!-- 开放客户端下载资源请求 -->
    <http pattern="/downloadClientupdate/*" security="none"/>

    <!-- 开放客户端提交审批请求的接口 -->
    <http pattern="/approveFlow/submitApproveFlow" security="none"/>

    <!-- 开放客户端下载页面 -->
    <http pattern="/access/accessPage" security="none"/>
    <!-- 开放浏览器下载页面 -->
    <http pattern="/downloadBrowserPage" security="none"/>
    <http pattern="/downloadBrowser/*" security="none"/>

    <!-- 动态IP http的接口 -->
    <http pattern="/access/applyClientAccess" security="none"/>
    <http pattern="/access/checkClientAccessList" security="none"/>
    <http pattern="/access/removeClientAccess" security="none"/>

    <!-- 开放水印接口 -->
    <http pattern="/scrnwatermark/generateScrnwatermarkId" security="none"/>

    <!-- 开放视频流转日志接口 -->
    <http pattern="/report/submitVideoTransferLog" security="none"/>
    <http pattern="/report/uploadVideoTransferLogsWithAttachment" security="none"/>
    <http pattern="/report/countVideoTransferLogsForCollecting" security="none"/>
    <!-- 开放非法登录告警接口 -->
    <http pattern="/warning/submitIllegalLoginAlarm" security="none"/>

    <!-- 终端用户注册接口 -->
    <http pattern="/clientUser/addClientUser" security="none"/>
    <!-- 心跳上报接口 -->
    <http pattern="/clientUser/heartbeat" security="none"/>
    <!-- 外发日志上报接口 -->
    <http pattern="/submit/submitReport" security="none"/>
    <!-- 文件下载 -->
	<http pattern="/file/ioReadFile" security="none" ></http>
	<!-- 文件校验是否存在 -->
	<http pattern="/file/queryFileExists" security="none" ></http>
	<http pattern="/file/downloadAgent" security="none" ></http>

    <!--开放给客户端查看审批流程-->
    <http pattern="/approveFlow/clientFlowIndex" security="none"/>
    <http pattern="/approveOpen/getApproveFlowPageClient" security="none"/>
    <http pattern="/approveDetail/getApproveDetailsByFlowId" security="none"/>
    <http pattern="/approveFlow/getApproveFlowInfoById" security="none"/>
    <http pattern="/approveOpen/getApproveFlowModelClient" security="none"/>
    <http pattern="/clientindex.jsp" security="none"/>
    <!-- 安装包下载页面 -->
    <http pattern="/download.jsp" security="none" ></http>
    <!-- 安装包下载页面 - 部门选择接口 -->
    <http pattern="/department/getManagerNodes" security="none" ></http>
    <!-- 控制台校验 -->
    <http pattern="/submit/test" security="none"/>
    <!-- 数据统计 -->
    <http  pattern="/druid/**" security="none" />

    <!--<http pattern="/vdpWebSocketServer" security="none" />-->


    <!--	<http pattern="/logout" create-session="never" auto-config="true">
            <anonymous enabled="false" />
            <intercept-url pattern="/logout" method="POST" />
            <csrf disabled="true" />
        </http>-->
    <http pattern="/logout" auto-config="true" use-expressions="true">
        <logout logout-url="/logout" logout-success-url="/login" invalidate-session="true"/>
        <csrf disabled="true"/>
    </http>

    <http auto-config="true">
        <headers defaults-disabled="true">
            <cache-control/>
        </headers>
        <intercept-url pattern="/login**"
                       access="isAnonymous() or hasRole('ROLE_USER') "/>
        <!-- <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
            <intercept-url pattern="/audit**" access="hasRole('ROLE_AUDIT')" /> <intercept-url
            pattern="/deleteLogs" access="hasRole('ROLE_AUDIT')" /> <intercept-url pattern="/clearAllLogs"
            access="hasRole('ROLE_AUDIT')" /> <intercept-url pattern="/exportLogs" access="hasRole('ROLE_AUDIT')"
            /> <intercept-url pattern="/monitor/doDownloadFile**" access="hasRole('ROLE_AUDIT')
            or hasRole('ROLE_USER') or hasRole('ROLE_OPERATOR') or hasRole('ROLE_ADMIN')"
            /> -->
        <intercept-url pattern="/**" access="hasRole('ROLE_USER')  "/>
        <form-login login-page="/login"
                    authentication-success-handler-ref="authenticationSuccessHandler"
                    authentication-failure-url="/login?error=ture" username-parameter="userName"
                    password-parameter="password"/>
        <custom-filter ref="csrfTokenFilter" after="CSRF_FILTER"/>
    </http>

    <beans:bean id="csrfTokenFilter"
                class="cn.goldencis.tdp.common.filter.CsrfTokenFilter"/>

    <!-- 自定义user-service -->
    <beans:bean id="userDetailService"
                class="cn.goldencis.tdp.core.override.UserDetailServiceImpl"/>

    <beans:bean id="authenticationSuccessHandler"
                class="cn.goldencis.tdp.core.override.AuthenticationSuccessHandlerImpl"/>

    <beans:bean id="passwordEncoder"
                class="cn.goldencis.tdp.core.override.PasswordEncoderImpl"/>

    <!-- <beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
        <beans:property name="userPropertyToUse" value="salt" /> </beans:bean> -->

    <beans:bean id="authenticationProvider"
                class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="hideUserNotFoundExceptions"
                        value="false"/>
        <beans:property name="userDetailsService" ref="userDetailService"/>
        <beans:property name="passwordEncoder" ref="passwordEncoder"/>
        <!-- <beans:property name="saltSource" ref="saltSource" /> -->
    </beans:bean>

    <!-- 自定义权限管理，使用自己的user-service -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="authenticationProvider"/>
    </authentication-manager>
</beans:beans>