.main_right{
    background-color: #fff !important;
}
.aboutmain {
    background: #fff;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 1110px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    top: 10px;
}

.aboutmain .toplogo {
    padding: 20px 50px;
}

.aboutmain .toplogo .toplogoleft {
    margin: 0 auto;
    margin-bottom: 14px;
}


.aboutmain .toplogo .toplogoright {
    width: 200px;
}

.aboutmain .toplogo .toplogoright li {
    line-height: 30px;
    color: #576783;
    font-size: 14px;
}

.width-95 {
    width: 95px;
}

.width-52 {
    width: 52px;
}

.messh4 {
    color: #666;
    padding-bottom: 5px;
    font-size: 14px;
}

.accreditbox {
    padding: 20px 0;
}

.messagebox-tsa {
    padding-left: 50px;
    padding-right: 50px;
}

.messagebox-oms {
    padding-left: 50px;
    padding-right: 50px;
}



.accreditbox .messagebox ul {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.accreditbox .messagebox ul li {
    float: left;
    height: 30px;
    line-height: 30px;
    color: #6b686a;
}

.goldenbox .goldlogo {
    height: 70px;
    padding-left: 50px;
}

.goldenbox .goldlogo img {
    margin-top: 30px;
}

.goldenbox .goldchild,
.copymess {
    line-height: 26px;
    padding-left: 50px;
    color: #6b686a;
    font-size: 14px;
}

.copymess {
    color: #aaaaaa;
}

.goldenbox .goldchild ul {
    overflow: auto;
}

.goldenbox .goldchild ul li {
    float: left;
}

.outacc {
    cursor: pointer
}

input.uploadFile {
    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    width: 1px;
    height: 30px;
    overflow: hidden;
}

.inputup {
    height: 32px !important;
    width: 240px;
    box-sizing: border-box;
    border: 1px solid #DFDFDF;
    padding: 0 5px;
}

.input-link {
    display: inline-block;
    height: 32px;
    width: 40px;
    text-align: center;
    position: relative;
    left: -4px;
    color: #b32885;
    background-color: #eaeaea;
    vertical-align: top;
    border-radius: unset;
    padding: 0px !important;
}

.lookview {
    color: #38D1BF;
}

.explort-box {
    margin-top: 20px;
}

.explort-box i {
    color: #38D1BF;
}

.logo-box {
    display: inline-block;
    text-align: center;
}

.hline {
    height: 1px;
    border: none;
    border-top: 1px solid #EAEAEA;
    margin-left: 20px;
    margin-right: 20px;
}

.relative {
    position: relative;
}

.tip {
    position: absolute;
    line-height: 14px;
    bottom: -20px;
    color: red;
}

.goldenbox {
    padding-bottom: 20px;
}
a:focus{
    color: #6b686a !important;
}