#about_subRoot {
    position: relative;
    overflow: auto;
    width: 100%;
    height: calc(100% - 40px);
    background: #fff;
    padding: 0.1px;
    -webkit-box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .04);
}
.details-styl {
    margin: 40px 0 0 40px;
}
.title-styl {
    margin: 0 0 28px 0;
}
.customer-name {
    font-family: MicrosoftYaHei;
    font-size: 24px;
    color: #333333;
    letter-spacing: 0;
    line-height: 24px;
    font-weight: normal;
}
#customer_infos {
    padding: 0 0 20px 0;
}
#customer_info:after {
    content: '';
    width: 704px;
    display: inline-block;
    border: 0.5px solid #EEEEEE;
}
.common-detail-styl {
    padding: 0 0 21px 0;
}
.info-name {
    color: #999999;
    width: 10em;
}
.info-content {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #151515;
    letter-spacing: 0;
    line-height: 14px;
}
.filePickerBox {
    width: 22em;
    margin: 0;
    display: inline-block;
    border: 1px solid #e6e6e6;
    border-radius: 4px;
    padding: 5px;
    position: relative;
    overflow: hidden;
}
#importFile {
    position: absolute;
    left: -72px;
    z-index: -2;
    display: none;
}
.fileNameShow {
    margin: 0;
    width: 87%;
    height: 20px;
    line-height: 20px;
    float: left;
}
#filePicker {
    background-color: transparent;
    border: none;
    color: #37AAE3;
    float: right;
    outline: 0;
}
.btn_set {
    display: inline-block;
    vertical-align: top;
}
.voc-logo-text {
    height: 45px;
    width: 100%;
    margin-bottom: 30px;
    background: url(../../images/about_logo.png) no-repeat left;
}
.system-name {
    position: relative;
    top: -15px;
}
.info-content {
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #151515;
    letter-spacing: 0;
    line-height: 14px;
}

#copyright_info {
    position: absolute;
    bottom: 0;
    left: 20px;
    width: calc(100% - 40px);
    height: 60px;
    background: #F7F7F9;
}
.copy-table-styl {
    width: 100%;
    height: 100%;
}
.goldencis-logo {
    width: 36%;
    padding-left: 130px;
    background: url(../../images/logo-web.png) no-repeat center left;
}
.partation-copy {
    width: 32%;
    color: #9A9A9A;
}
#copyright_info_detail .partation-copy:nth-child(2) {
    text-align: center;
}
#copyright_info_detail .partation-copy:nth-child(3) {
    text-align: right;
}
.partation-copy span {
    margin-right: 16px;
}